body {
	font-family: fantasy;
}
.blink_me {
	animation: blinker 3s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
#custom {
	color: white;
	background: linear-gradient(to right, #0bc41b, #1b1819);
}
#authlink {
	color: #0eedf5;
}
#navlink {
	color: white;
	font-weight: bold;
}
#droplink {
	color: white;
	background: linear-gradient(to right, #0bc41b, #1b1819);
}
#droplink :hover {
	color: white;
	background-color: blue;
}
